<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Employee Task</title>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    <a class="employee-page" routerLink="emp-page" routerLinkActive="active">Employee Page</a>
  </nav>
  <router-outlet></router-outlet>
</body>
</html>
